<!-- Created 7/27/2020 by Reema Gupta
     HTML for projects in a particular group-->
<h1>Projects for: <%= "(#{@groups.group_name}) " %></h1>
<table>
  <th>Project Name</th>
  <th>Description</th>
  <th></th>
  <th></th>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= truncate(project.description, length: 150) %></td>
      <td><%= link_to 'Peer Evaluation',peer_evaluations_path %></td>
      <td>
        <%= link_to 'Delete', associated_path(project_id: project.id, group_id: @groups.id),
                    :method => :delete, data: { confirm: "Are you sure you want to delete: " +
                "#{project.project_name} from" +
                "#{@groups.group_name}?" } %>
      </td>
    </tr>
  <% end %>
</table>
<%= form_with do |f| %>
  <p>Add project(Project_name):</p>
  <%= f.text_field :project_name %>
  <%= f.submit 'Add Project'%>
<% end %>