<!-- Created 7/22/2020 by Duytan Tran
     HTML form partial for editing and creating courses for professors-->
<%= form_with model: course do |f| %>
  <p>Section Number</p>
  <%= f.number_field :section_num %>
  <br>
  <p>Course Name</p>
  <%= f.text_field :course_name %>
  <br>
  <p>Course Number</p>
  <%= f.number_field :course_number %>
  <%= f.submit "Create" %>
<% end %>

<%= link_to 'cancel', courses_path, method: :get %>