<!-- Created 7/22/2020 by Duytan Tran
     Edited 7/23/2020 by Duytan Tran: added delete course button
     HTML for displaying courses associated with a professor-->
<table>
  <th>Section Number</th>
  <th>Course Name</th>
  <th>Course Number</th>
  <% @taught_courses.each do |course| %>
    <tr>
      <td><%= course.section_num %></td>
      <td><%= course.course_name %></td>
      <td><%= course.course_number %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Delete', course, method: :delete, data: { confirm: "Are you sure you want to delete: " +
          "(#{course.section_num}) #{course.course_name} #{course.course_number}?" } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'new course', new_course_path, method: :get %>